nav{
	width: 100%;
	padding: 1%;
	height: 80px;
	position: fixed;
	background-color:dodgerblue;
	border-bottom:darkblue 3px solid;
    border-top:darkblue 3px solid;
    margin: 0% 0% 0% -1%;
    z-index: 1;
    text-align: center;
    font-size: 450%;
}

.prototipo{
    float: right;
    margin-top: 10%;
    margin-right: 5%;
}

.subtitulo1{
    font-size: 50px;
    padding-top: 13%;

}

.abobrinha{
    font-size: 35px;
}

.subtitulo{
    padding-top: 3%;
    font-size: 50px;
}